/* General Styling */
body {
    font-family: 'Space Mono', monospace;
    margin: 0;
    padding: 0;
    background-color: #222329;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #222329;
    padding: 10px 20px;
    text-align: center;
    padding-top: 60px;
}

.logo img {
    max-width: 150px;
    height: auto;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* PDF Container Styling */
.pdf-container {
    text-align: center;
    margin: 20px auto;
    max-width: 500px;
    padding: 20px;
}

.pdf-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.download-button {
    display: inline-block;
    background-color: #dd4545;
    color: #161616;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.download-button:hover {
    background-color: #db6161;
}

.download-count {
    margin-top: 15px;
    font-size: 1rem;
    color: #6c6d74;
}

.flashing-text {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    padding: 10px;
    display: inline-block;
    text-align: center;
    animation: flash 1s infinite;
}

.flashing-text a {
    color: #ffffff;  /* White text for the link */
    text-decoration: none;  /* Removes underline */
}

.flashing-text a:hover {
    color: #25d366;  /* Green color when the link is hovered (WhatsApp green) */
}

@keyframes flash {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}


/* Footer Styling */
footer {
    background-color: #222329;
    color: #6c6d74;
    text-align: center;
    padding: 10px 20px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .pdf-container {
        padding: 15px;
    }

    .pdf-title {
        font-size: 1.25rem;
    }

    .download-button {
        padding: 8px 16px;
        font-size: 0.9rem;
    }

    footer {
        font-size: 0.85rem;
    }
}
